<div class="container">
  <%= form_with(model: student, local: true) do |form| %>
    <% if student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :student_name, placeholder: "Juan Dela Cruz" %>
    </div>

    <div style="display: flex; column-gap: 1.5rem;">
      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= form.label :birthday %>
        <%= form.date_field :birthday, id: :student_birthday %>
      </div>

      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number, id: :student_phone_number, placeholder: "09123456789", maxlength: 11 %>
      </div>
    </div>

    <div style="display: flex; column-gap: 1.5rem;">
      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= form.label :email %>
        <%= form.text_field :email, id: :student_email, placeholder: "juandelacruz@email.com" %>
      </div>

      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= form.label :course %>
        <%= form.text_field :course, id: :student_course %>
      </div>
    </div>



    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>