<div class="container">
	<h2>Enrolled to: </h2>

	<table>
	  <thead>
	    <tr>
	      <th style="background-color: #d9ebf9; color: black;">Title</th>
	      <th style="background-color: #d9ebf9; color: black;">Subject code</th>
	      <th style="background-color: #d9ebf9; color: black;">Teacher</th>
	      <th style="background-color: #d9ebf9; color: black;" colspan="3">Actions</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @enrolled_subjects.each do |subject| %>
	      <tr>
	        <td><%= subject.title %></td>
	        <td><%= subject.subject_code %></td>
	        <td><%= subject.teacher %></td>
	        <td><%= link_to 'Unenroll', unenroll_student_path(id: student.id, subject_id: subject.id), method: :delete, data: { confirm: "Are you sure you want to unenroll #{student.name} to #{subject.title} ?" } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>