<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h1>Students</h1>
  <%= link_to 'Subjects List ❯', subjects_path, class: "button" %>
</div>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Course</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.birthday %></td>
        <td><%= student.email %></td>
        <td><%= student.phone_number %></td>
        <td><%= student.course %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', student, method: :delete, data: { confirm: "Are you sure you want to delete #{student.name} ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New Student', new_student_path, class: "button" %>