<h1>Student with ID: <%=@student.id%></h1>

<p id="notice"><%= notice %></p>

<div class="container">
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name, @student.name, disabled: true %>
    </div>

    <div style="display: flex; column-gap: 1.5rem;">
      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= label_tag :birthday %>
        <%= text_field_tag :birthday, @student.birthday, disabled: true %>
      </div>

      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= label_tag :phone_number %>
        <%= text_field_tag :phone_number, @student.phone_number, disabled: true %>
      </div>
    </div>

    <div style="display: flex; column-gap: 1.5rem;">
      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, @student.email, disabled: true %>
      </div>

      <div style="flex-basis: 0; flex-grow: 1;" class="field">
        <%= label_tag :course %>
        <%= text_field_tag :course, @student.course, disabled: true %>
      </div>
    </div>

    <%= link_to 'Edit', edit_student_path(@student), class: 'button' %>
</div>

<br>
<%= render 'subject_enrolled_to_list', student: @student %>

<%= link_to '❮ Back', root_path, class: "button" %>

