<div class="container">
    <h2>Enroll Student to <%=subject.title%> </h2>

    <%= form_tag(enroll_student_path, method: "post", local: true) do %>

    <%= hidden_field_tag "enrollment[subject_id]", subject.id %>

    <div class="field">
      <%= label_tag :name %>
      <%= select_tag "Students Available", options_from_collection_for_select(@students_available.present? ? @students_available : [], 'id', 'name'), {class: '', name: "enrollment[student_id]", disabled: @students_available.blank?}  %>
    </div>

    <%= submit_tag("Enroll", disabled: @students_available.blank?) %>
    <% end %>
</div>