<div class="container">
	<h2>Currently Enrolled Students: </h2>

	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Birthday</th>
	      <th>Email</th>
	      <th>Phone number</th>
	      <th>Course</th>
	      <th>Grade</th>
	      <th colspan="3">Actions</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @enrolled_students.each do |student| %>
	      <tr>
	        <td><%= student.name %></td>
	        <td><%= student.birthday %></td>
	        <td><%= student.email %></td>
	        <td><%= student.phone_number %></td>
	        <td><%= student.course %></td>
	        <td><%= student.grade %></td>
	        <td><%= link_to 'Unenroll', unenroll_student_path(id: student.id, subject_id: subject.id, from_subjects: 1), method: :delete, data: { confirm: "Are you sure you want to unenroll #{student.name} to #{subject.title} ?" } %></td>
	        <td><%= link_to 'Edit Grade', edit_grade_subject_path(student_id: student.id) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>