<div class="container">
  <%= form_with(model: subject, local: true) do |form| %>
    <% if subject.present? && subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

        <ul>
        <% subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :subject_title, placeholder: "Programming" %>
    </div>

    <div class="field">
      <%= form.label :subject_code %>
      <%= form.text_field :subject_code, id: :subject_subject_code, placeholder: "PROG1" %>
    </div>

    <div class="field">
      <%= form.label :teacher %>
      <%= form.text_field :teacher, id: :subject_teacher, placeholder: "Juan Dela Cruz" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>