<h1><%=@subject.title%> Grade For Student: <%=@student.name%></h1>

<div class="container">
    <%= form_tag(update_grade_subject_path, method: "put", local: true) do %>

    <% if @record.present? && @record.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@record.errors.count, "error") %> prohibited this subject from being saved:</h2>

        <ul>
        <% @record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag "record_id", @student.record_id %>
    <%= hidden_field_tag "student_id", @student.id %>

    <div class="field">
      <%= label_tag :grade %>
      <%= text_field_tag :grade, @student.grade %>
    </div>


	<%= submit_tag("Save") %>
    <% end %>
</div>

<%= link_to '❮ Back', subject_path(@subject), class: "button" %>
