<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h1>Subjects</h1>
  <%= link_to '❮ Students List', students_path, class: "button" %>
</div>

<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th style="background-color: #d9ebf9; color: black;">Title</th>
      <th style="background-color: #d9ebf9; color: black;">Subject code</th>
      <th style="background-color: #d9ebf9; color: black;">Teacher</th>
      <th style="background-color: #d9ebf9; color: black;" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.title %></td>
        <td><%= subject.subject_code %></td>
        <td><%= subject.teacher %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: "Are you sure you want to delete #{subject.title} ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New Subject', new_subject_path, class: "button" %>
