<h1>Subject with Code: <%=@subject.subject_code%></h1>

<p id="notice"><%= notice %></p>

<div class="container">
    <div class="field">
      <%= label_tag :name %>
      <%= text_field_tag :name, @subject.title, disabled: true %>
    </div>

    <div class="field">
      <%= label_tag :subject_code %>
      <%= text_field_tag :name, @subject.subject_code, disabled: true %>
    </div>

    <div class="field">
      <%= label_tag :teacher %>
      <%= text_field_tag :name, @subject.teacher, disabled: true %>
    </div>

    <%= link_to 'Edit', edit_subject_path(@subject), class: 'button' %>
</div>

<br>
<%= render 'enroll_form', subject: @subject %>

<%= render 'enrolled_students_list', subject: @subject %>

<%= link_to '❮ Back', subjects_path, class: "button" %>

